<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1/mydatabase</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <property name="hibernate.show_sql">true</property>
        
        <!-- List of XML mapping files
	      <mapping resource = "Automatch.hbm.xml"/>
	      <mapping resource = "Carries.hbm.xml"/>
	      <mapping resource="Departament.hbm.xml"></mapping>
	      <mapping resource = "Orderproduct.hbm.xml"/>
	      <mapping resource="Ordert.hbm.xml"></mapping>
	      <mapping resource = "Product.hbm.xml"/>
	      <mapping resource="Segment.hbm.xml"></mapping>
	      <mapping resource="Workstation.hbm.xml"></mapping> -->
	      <mapping resource="/entity/User.hbm.xml"></mapping>
	      <mapping resource = "/entity/Usertype.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
